@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


#wrap {
    width: 1200px;
    margin: 0 auto;

    position: relative;
}

#header {
    width: 100%;
    /* height: 100px; */
    /* background-color: red; */
    display: flex;
}

#header .logo {
    width: 20%;
    height: 100px;
    background-color: red;
}

#header .nav {
    width: 80%;
    height: 100px;
    background-color: orange;
}

#contents {
    width: 100%;
    /* height: 200px;
    background-color: green; */
    display: flex;
}

#contents .content1{
    width: 33.3333%;
    height: 200px;
    background-color: yellowgreen;
}

#contents .content2{
    width: 33.3333%;
    height: 200px;
    background-color: greenyellow;
}


#footer {
    width: 100%;
    /* height: 100px;
    background-color: blue; */
    display: flex;
}

#footer .footer1 {
    width: 20%;
    height: 100px;
    background-color: aqua;
}

#footer .footer2 {
    width: 60%;
    height: 100px;
    background-color: aquamarine;
}

#footer .footer3 {
    width: 20%;
    height: 100px;
    background-color: lightblue;
}

/*M-2*/

.nav > ul {
    display: flex;
    justify-content: right;
    margin-top: 30px;
}

.nav > ul > li {
    position: relative;
}

.nav > ul > li > a {
    display: inline-block;
    padding: 10px 50px;
    background-color: coral;
}

.nav > ul > li > a:hover {
    background-color: lightcoral;
}

.nav > ul > li > ul {
    position: absolute;
    top: 38px;
    left: 0;
    width: 100%;
    text-align: center;
    display: none;
}

.nav > ul > li > ul > li > a {
    display: inline-block;
    padding: 10px;
    background-color: coral;
    width: 100%;
    box-sizing: border-box;
}

.nav > ul > li > ul > li > a:hover{
    background-color: lightcoral;
}

/*S-3*/

#slider {
    width: 100%;
    height: 300px;
    background-color: yellow;
    
    overflow: hidden;
}

.sliderWrap .slider {
    position: relative;
}

.sliderWrap .slider img {
    vertical-align: top;
}

.sliderWrap .slider span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.3);
    color: white;
    padding: 10px 20px;
}

/*T-1*/

.tab-menu {
    padding: 20px;
}

.tab-menu .tab-btn ul {
    display: flex;
}

.tab-menu .tab-btn li {
    list-style: none;
}
.tab-menu .tab-btn li.active a {
    text-decoration: underline;
}
.tab-menu .tab-btn li a {
    display: block;
    padding: 10px;
    background-color: violet;
}
.tab-menu .tab-cont > div {
    padding: 10px;
    background-color: blueviolet;
    line-height: 1.6;
}

/*P-1*/

#contents .content3{
    width: 33.3333%;
    height: 200px;
    background-color: green;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-btn {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    display: inline-block;
}

.popup-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: beige;
    border: 3px solid black;
    z-index: 1000;
    display: none;
}

.popup-close {
    display: inline-block;
    background-color: white;
    padding: 10px;
}