@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
#wrap {
    width: 100%;
}
    .container {
        width: 1200px;
        height: inherit;
        margin: 0 auto;
        background-color: gray;
        display: flex;
    }

#header {
    width: 100%;
    height: 100px;
    background-color: lightpink;
}
    .logo {
        width: 20%;
        height: 100px;
        background-color: red;
    }
    .nav {
        width: 80%;
        height: 100px;
        background-color: orange;
    }

#slider {
    width: 100%;
    height: 300px;
    /* background-color: lightyellow; */
}

#contents {
    width: 100%;
    height: 200px;
    /* background-color: lightgreen; */
}
    .content1 {
        width: 33.3333%;
        height: 200px;
        background-color: yellowgreen;
    }
    .content2 {
        width: 33.3333%;
        height: 200px;
        background-color: greenyellow;
    }
    .content3 {
        width: 33.3333%;
        height: 200px;
        background-color: green;
    }

#footer {
    width: 100%;
    height: 100px;
    background-color: lightblue;
}
    .footer1 {
        width: 20%;
        height: 100px;
        background-color: aqua;
    }
    .footer2 {
        width: 80%;
        /* height: 100px;
        background-color: aquamarine; */
    }
        .footer2-1 {
            width: 100%;
            height: 50px;
            background-color: aquamarine;
        }
        .footer2-2 {
            width: 100%;
            height: 50px;
            background-color: lightskyblue;
        }

