@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
#wrap {
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
}
#aside {
    width: 200px;
    /* height: 850px;
    background-color: lightpink; */
}
    .logo {
        width: 100%;
        height: 100px;
        background-color: red;
    }
    .nav {
        width: 100%;
        height: 750px;
        background-color: orange;
    }

#main {
    width: calc(100% - 200px);
    /* height: 850px;
    background-color: lightyellow; */
}
    #slider {
        width: 100%;
        height: 400px;
        background-color: yellow;

        position: relative;
    }
        .link {
            position: absolute;
            background-color: gold;
            width: 100px;
            height: 300px;
            right: 0;
        }
        
    #banner {
        width: 100%;
        height: 200px;
        background-color: yellowgreen;
    }
    #contents {
        width: 100%;
        height: 250px;
        background-color: greenyellow;
    }

#footer {
    width: 100%;
    /* height: 100px;
    background-color: lightblue; */
    display: flex;
}
    .footer1 {
        width: 20%;
        height: 100px;
        background-color: aqua;
    }
    .footer2 {
        width: 80%;
        /* height: 100px;
        background-color: aquamarine; */
    }
        .footer2-1 {
            width: 100%;
            height: 50px;
            background-color: aquamarine;
        }
        .footer2-2 {
            width: 100%;
            height: 50px;
            background-color: lightskyblue;
        }

