@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
#warp {
    width: 100%;
}
#main {
    width: 100%;
    height: calc(100vh - 120px);
    background-color: lightpink;
    display: flex;
}
    #header {
        width: 200px;
        /* height: 100%;
        background-color: red; */
    }
        .logo {
            width: 100%;
            height: 10%;
            background-color: red;
        }
        .nav {
            width: 100%;
            height: 90%;
            background-color: orange;
        }

    #contents {
        width: 400px;
        /* height: 100%;
        background-color: green; */
    }
        .banner {
            width: 100%;
            height: 15%;
            background-color: yellowgreen;
        }
        .notice {
            width: 100%;
            height: 35%;
            background-color: greenyellow;
        }
        .gallery {
            width: 100%;
            height: 35%;
            background-color: green;
        }
        .link {
            width: 100%;
            height: 15%;
            background-color: darkgreen;
        }

    #slider {
        width: calc(100% - 600px);
        height: 100%;
        background-color: yellow;
    }

#footer {
    width: 100%;
    /* height: 120px;
    background-color: lightblue; */
    display: flex;
}
    .footer1 {
        width: 30%;
        height: 120px;
        background-color: aqua;
    }
    .footer2 {
        width: 70%;
        /* height: 120px;
        background-color: aqua; */
    }
        .footer2-1 {
            width: 100%;
            height: 60px;
            background-color: aquamarine;
        }
        .footer2-2 {
            width: 100%;
            height: 60px;
            background-color: lightskyblue;
        }

