@charset "utf-8";
/* CSS Document */

* {
  margin: 0 auto;
  padding: 0;
}

.header {                  /* A영역: 상단 영역 */
  width: 1340px;          /* 상단 너비(브라우저100%) */
  height: 100px;          /* 상단 높이 */
}

/* .wrap → .top (프로젝트1 통일) */
.top {                    /* A, C, D 영역 콘텐츠 묶어줌 */
	width: 1340px;           /* A, C, D 영역 콘텐츠 너비 */
	height: 100%;
}

.logo {                    /* 로고 영역 스타일 */
	float: left;
	width: 240px;            /* 로고 영역 너비 */
	height: 100px;           /* 로고 영역 높이 */
  background-color: red;
}
.menu {                   /* 메뉴 영역 스타일 */
	float: right;
	width: 800px;           /* 메뉴 영역 너비 */
	height: 100x;           /* 메뉴 영역 높비 */
  z-index: 1;
  background-color: orange;
}
.imgslide {               /* B영역: 이미지 A슬라이드 영역 */
  width: 100%;            /* 이미지 슬라이드 너비 */
  height: 350px;          /* 이미지 슬라이드 높이 */
  position: relative;
  background-color: yellow;
}
.contents {         /* C영역: shortcut, banner, tabmenu 묶어줌 */
	width: 1340px;    /* 콘텐츠(바로가기, 배너, 탭메뉴) 너비 */
	height: 550px;    /* 콘텐츠(바로가기, 배너, 탭메뉴) 높이 */
  position: relative;
  margin-top: -100px;
  background-color: green;
}
.shortcut {         /* 바로가기 영역 */
	float: left;
	width: 100%;      /* 너비: contents영역 100% */
	height: 100px;
  display: flex;    /* 바로가기 이미지 배치 스타일 */
  background-color: purple;
}
.banner {           /* 배너 영역 */
	float: left;
	width: 100%;      /* 너비: contents영역 100% */
	height: 150px;
}
.tabmenu {          /* 탭메뉴(공지사항+갤러리) 영역 */
	float: left;
	width: 100%;      /* 너비: contents영역 100% */
	height: 300px;
}
.footer {                  /* D영역: 하단 영역 */
	width: 1340px;          /* 하단 너비(브라우저100%) */
	height: 120px;          /* 하단 높이 */
  background-color: blue;
}
.btlogo {                  /* 로고 영역 스타일 */
	float: left;
	width: 240px;            /* 로고 영역 너비 */
	height: 120px;           /* 로고 영역 높이 */
}
.btwrap {                   /* 하단메뉴+Copyright */
	float: right;
	width: 1100px;            /* 1340px - 240px(로고영역너비)*/
	height: 100%;
  font-size: 16px;
  line-height: 60px;
}
.btmenu {
  float: right;
  width: 1100px;
  height: 50px;
  margin-top: 10px;
}