/* M-3 배경추가 */

#header {
    width: 100%;
    /* height: 100px;
    background-color: red; */
    display: flex;
    position: relative;
}
    #header::after {
        position: absolute;
        background-color: coral;
        width: 100%;
        height: 0;
        top: 100px;
        left: 0;
        z-index: 1;
        content: '';
        transition: all 900ms;
    }
    #header.on::after{
        height: 200px;
    }

.nav{
    width: 100%;
    height: 100px;
    background-color: orange;

    z-index: 1000;
}
/*------------------------------------*/

/* M-1, M-2, M-3 공통 */

.nav > ul {
    display: flex;
    justify-content: right;
    margin-top: 60px;
}
.nav > ul > li {
    position: relative;
}

    .nav > ul > li > a {
        display: inline-block;
        background-color: coral;
        padding: 10px 50px;
    }
    .nav > ul > li > a:hover {
        background-color: lightcoral;
    }

.nav > ul > li > ul {
    position: absolute;
    width: 100%;
    text-align: center;
    display: none;
}
    .nav > ul > li > ul > li > a {
        display: inline-block;
        background-color: coral;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .nav > ul > li > ul > li > a:hover{
        background-color: lightcoral;
    }