@charset "utf-8";

* {
    margin: 0;
    padding: 0 auto;
}
#wrap {
    width: 100%;
}
#header {
    width: 100%;
    /* height: 100px; */
    background-color: lightpink;
}
    .header_container {
        width: 1200px;
        /* height: 100px;
        background-color: red; */
        margin: 0 auto;
        display: flex;
    }
        .logo {
            width: 20%;
            height: 100px;
            background-color: red;
        }
        .nav {
            width: 80%;
            height: 100px;
            background-color: orange;
        }
#slider {
    /* width: 100%; */
    width: 1200px;
    height: 300px;
    background-color: yellow;
    margin: 0 auto;
}
#contents {
    /* width: 100%; */
    width: 1200px;
    /* height: 200px;
    background-color: green; */
    margin: 0 auto;
    display: flex;
}
    .content1 {
        width: 33.3333%;
        height: 200px;
        background-color: yellowgreen;
    }
    .content2 {
        width: 33.3333%;
        height: 200px;
        background-color: greenyellow;
    }
    .content3 {
        width: 33.3333%;
        height: 200px;
        background-color: green;
    }
#footer {
    width: 100%;
    /* height: 100px; */
    background-color: lightblue;
}
    .footer_container {
        width: 1200px;
        /* height: 100px;
        background-color: blue; */
        margin: 0 auto;
        display: flex;
    }
        .footer1 {
            width: 80%;
            height: 100px;
            background-color: aqua;
        }
        .footer2 {
            width: 20%;
            /* height: 100px;
            background-color: aquamarine; */
        }
            .footer2-1{
                width: 100%;
                height: 50px;
                background-color: aquamarine;
            }
            .footer2-2{
                width: 100%;
                height: 50px;
                background-color: mediumaquamarine;
            }