@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

#header {
    width: 100%;
    /* height: 100px;
    background-color: red; */
    display: flex;
}

    .logo {
        width: 20%;
        height: 100px;
        background-color: red;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav {
        width: 80%;
        height: 100px;
        background-color: orange;

        /*M-2*/
        z-index: 1;
    }

#contents {
    width: 100%;
    /* height: 200px;
    background-color: green; */
    display: flex;
}

    .content1 {
        width: 33.3333%;
        height: 200px;
        background-color: yellowgreen;
    }
        
    .content2 {
        width: 33.3333%;
        height: 200px;
        background-color: greenyellow;
        
        position: relative;
    }

        .content2 span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0,0,0,0.3);
            color: #fff;
            padding: 10px 20px;

            width: 60%;
            text-align: center;
        }

    #contents .content3 {
        width: 33.3333%;
        height: 200px;
        background-color: green;

        position: relative;
    }

        .content3 span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0,0,0,0.3);
            color: #fff;
            padding: 10px 20px;

            width: 60%;
            text-align: center;
        }


#footer {
    width: 100%;
    /* height: 100px;
    background-color: blue; */
    display: flex;
}

    .footer1 {
        width: 20%;
        height: 100px;
        background-color: aqua;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer2 {
        width: 80%;
        height: 100px;
        background-color: aquamarine;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer3 {
        width: 20%;
        height: 100px;
        background-color: lightblue;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

/*M-2*/

.nav > ul {
    display: flex;
    justify-content: right;
    margin-top: 30px;
}

.nav > ul > li {
    position: relative;
}

    .nav > ul > li > a {
        display: inline-block;
        background-color: coral;
        padding: 10px 50px;
    }

    .nav > ul > li > a:hover {
        background-color: lightcoral;
    }

.nav > ul > li > ul {
    position: absolute;
    width: 100%;
    text-align: center;
    display: none;
}

    .nav > ul > li > ul > li > a {
        display: inline-block;
        background-color: coral;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .nav > ul > li > ul > li > a:hover {
        background-color: lightcoral;
    }

/*S-3(상하)*/

#slider {
    width: 100%;
    height: 300px;
    background-color: yellow;

    overflow: hidden;
}

    .sliderWrap .slider {
        position: relative;
    }
    .sliderWrap .slider img {
        vertical-align: top;
    }

    .sliderWrap .slider span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0,0,0,0.3);
        color: #fff;
        padding: 10px 20px;
    }

/*T-1*/

.tab-menu {
    padding: 20px;
}

.tab-btn ul {
    display: flex;
}

    .tab-btn li.active a {
        background-color: white;
    }

    .tab-btn li a {
        display: block;    
        background-color: gray;
        padding: 10px;
    }

.tab-cont {
    width: 100%;
    height: 120px;
    background: white;
}

.tab1 {
    padding: 10px;
}

    .tab1 p {
        display: flex;
        justify-content: space-between;
    }

    .tab1 p:nth-child(even){
        background-color: gray;
    }

.tab2 {
    display: flex;
    padding: 25px 0;
    justify-content: space-around;
    align-items: center;
}

/*P-1*/

#wrap {
    width: 1200px;
    margin: 0 auto;

    position: relative;
}

.popup-view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: white;
    border: 3px solid #000;
    padding: 15px;
    z-index: 1000;
    display: none;
} 

.popup-title {
    margin-bottom: 10px;
}

.popup-body p {
    padding: 4px 0;
}

.popup-close {
    display: inline-block;
    background-color: beige;
    padding: 10px;

    position: absolute;
    right: 15px;
    bottom: 15px;
}


