@charset "utf-8";
/* CSS Document */

* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "맑은 고딕";
  color: #333333;
}

body {
  width: 1000px;            /* 좌:200 + 우:800 */
  height: 650px;
  background-color: #ffffff;
  font-size: 20px;
}

a {
  text-decoration: none;
  display: block;
}

/* ===== Header (좌측 사이드) ===== */
.header {
  float: left;
  position: absolute;
}

.top {
  float: left;
  width: 200px;
  height: 650px;
  background: #eeeeee;
}

.logo {
  float: left;
  width: 200px;
  height: 40px;
  margin: 30px 0;
}

.menu {
  float: left;
  position: absolute;
  top: 100px;
  left: 10px;
  text-align: center;
  z-index: 1;
}

.navi > li {
  float: left;
  width: 180px;
}

.navi > li > a {
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  background: #333333;
  color: #ffffff;
}

.navi > li > a:hover {
  background: #cccccc;
  color: #000000;
}

.submenu {
  float: left;
  width: 180px;
  height: 250px;
  position: absolute;
  left: 180px;
  top: -20px;
  background: #999999;
  display: none;
  z-index: 1;
}

.submenu > li > a {
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  background: #999999;
  color: #333333;
}

.submenu > li > a:hover {
  background: #cccccc;
  color: #ffff00;
}

/* ===== Image Slide (코드1 패턴) ===== */
.imgslide {
  float: right;
  width: 800px;
  height: 350px;
  position: relative;
  overflow: hidden;
}

/* 코드1 스타일: a 3개를 겹쳐 배치 */
.imgslide a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.imgslide img {
  width: 800px;
  height: 350px;
  display: block;
}

/* 슬라이드 오버레이 텍스트 */
.imgtext {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  background: rgba(40, 40, 40, 0.5);
}

/* ===== Contents ===== */
.contents {
  float: right;
  width: 800px;
  height: 200px;
}

.notice {
  float: left;
  width: 300px;
  height: 200px;
}

.tab {
  float: left;
  width: 300px;
}

/* h4 → .tab-title */
.notice .tab-title {
  float: left;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
}

.notice ul {
  float: left;
  width: 290px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  margin-left: 10px;
}

.notice li span {
  float: right;
}

.notice li:nth-child(2n) {
  background: #cccccc;
}

.notice li:hover {
  font-weight: bold;
}

.gallery {
  float: left;
  width: 300px;
  height: 200px;
}

/* h4 → .tab-title */
.gallery .tab-title {
  float: left;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
}

.gallery ul li {
  float: left;
  margin-top: 35px;
  margin-left: 20px;
}

.gallery img {
  width: 80px;
  height: 80px;
}

.gallery li:hover {
  opacity: 0.5;
}

/* 바로가기 */
.shortcut {
  float: right;
  width: 200px;
  height: 200px;
}

.shortcut img {
  float: right;
  width: 180px;
  height: 180px;
  margin-top: 10px;
}

/* 코드1 호환: sctext 클래스도 지원 */
.shortcut .tab-title,
.shortcut .sctext {
  width: 120px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 85px;
  margin-left: 50px;
}

/* ===== Modal Layer ===== */
#modal {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: none;
}

#modal.active {
  display: block;
}

.modal_up {
  width: 400px;
  height: 300px;
  position: fixed;
  left: 30%;
  top: 20%;
  background: #ffffff;
}

.uptitle {
  margin-top: 30px;
  text-align: center;
  line-height: 16px;
  font-size: 20px;
  font-weight: bold;
}

.upbody {
  padding: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}

.btn {
  width: 80px;
  height: 20px;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  background: #cccccc;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* ===== Footer (우측 하단) ===== */
.footer {
  float: right;
  width: 800px;
  height: 100px;
  background: #30a3f3;
}

.bottom {
  width: 100%;
  height: 100%;
}

.btlogo {
  float: left;
  width: 200px;
  height: 100px;
}

.btlogo img {
  float: left;
  margin-top: 30px;
  margin-left: 20px;
}

.site {
  float: right;
  width: 600px;
  height: 100px;
}

.btmenu {
  float: right;
  width: 600px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
}

.btmenu li {
  margin-top: 10px;
  display: inline-block;
  width: 100px;
}

.btmenu li:hover {
  font-weight: bold;
}

.copy {
  float: right;
  width: 600px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
}
