@charset "utf-8";
/* CSS Document */

* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "맑은 고딕";
  color: #666666;
}
html, body {
  min-width: 1340px;
  background-color: #ffffff;
  font-size: 20px;
}
a {
  text-decoration: none;
  display: block;
}

/* header(tag) → .header */
.header {                  /* A영역: 상단 영역 */
  width: 1340px;          /* 상단 너비(브라우저100%) */
  height: 100px;          /* 상단 높이 */
}

/* .wrap → .top (프로젝트1 통일) */
.top {                    /* A, C, D 영역 콘텐츠 묶어줌 */
	width: 1340px;           /* A, C, D 영역 콘텐츠 너비 */
	height: 100%;
}

.logo {                    /* 로고 영역 스타일 */
	float: left;
	width: 240px;            /* 로고 영역 너비 */
	height: 100px;           /* 로고 영역 높이 */
}
.logo img {
	float: left;
	width: 180px;
	margin-top: 10px;
	margin-left: 25px;
}
.menu {                   /* 메뉴 영역 스타일 */
	float: right;
	width: 800px;           /* 메뉴 영역 너비 */
	height: 100x;           /* 메뉴 영역 높비 */
  z-index: 1;
}
.navi {         /* 전체 메뉴 스타일 */
  float: right;
  margin-top: 50px;
  margin-right: 0px;
}
.navi>li {      /* 각 메인 메뉴 스타일 */
  float: left;
}
.navi>li>a {    /* 각 메인 메뉴의 <a> 요소 스타일 */
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #666666;
  color: #ffffff;
}
.navi>li>a:hover {   /* <a> 요소에 마우스를 올릴 때 스타일 */
  background-color: #006478;
}
.submenu {          /* 서브 메뉴 영역 스타일 */
  width: 200px;
  position: absolute;
  display: none;
  z-index: 3;
  opacity: 0.8;
}
.submenu>li>a {       /* 각 서브 메뉴의 <a> 요소 스타일 */
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #bbbbbb;
  color: #333333;
}
.submenu>li>a:hover {  /* <a> 요소에 마우스를 올릴 때 스타일 */
  background-color: #006478;
}

.imgslide {               /* B영역: 이미지 A슬라이드 영역 */
  width: 100%;            /* 이미지 슬라이드 너비 */
  height: 350px;          /* 이미지 슬라이드 높이 */
  position: relative;
}
.imgslide img {
  display: block;
  position: absolute;
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.imgslide span {
  width: 450px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  left: 40%;
  top: 30%;
  position: absolute;
  background-color: rgba(100, 100, 100, 0.7);
}

.contents {         /* C영역: shortcut, banner, tabmenu 묶어줌 */
	width: 1340px;    /* 콘텐츠(바로가기, 배너, 탭메뉴) 너비 */
	height: 550px;    /* 콘텐츠(바로가기, 배너, 탭메뉴) 높이 */
  position: relative;
  margin-top: -100px;
}
.shortcut {         /* 바로가기 영역 */
	float: left;
	width: 100%;      /* 너비: contents영역 100% */
	height: 100px;
  display: flex;    /* 바로가기 이미지 배치 스타일 */
  background-color: #abdde6;
}
.shortcut img {     /* 바로가기 이미지 스타일 */
  float: left;
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.banner {           /* 배너 영역 */
	float: left;
	width: 100%;      /* 너비: contents영역 100% */
	height: 150px;
}
.banner img {
  width: 1340px;
  height: 150px;
  object-fit: cover;
}
.banner span {
  float: left;
  width: 96%;
  height: 80px;
  position: absolute;
  margin-top: 20px;
  left: 2%;
  padding-top: 30px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.3);
}
/* h4 → .tab-title (프로젝트1 통일) */
.banner .tab-title {
  font-size: 18px;
  color: #ffffff;
}
.banner span:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.tabmenu {          /* 탭메뉴(공지사항+갤러리) 영역 */
	float: left;
	width: 100%;      /* 너비: contents영역 100% */
	height: 300px;
}
.tabmenu>ul {
	padding-top: 20px;
}
.tabmenu>ul>li {      /* 탭 타이틀 영역 스타일 */
	float: left;
	width: 100px;
	line-height: 45px;
}
.tabmenu>ul>li>a {    /* 탭 타이틀 영역 <a> 요소 스타일 */
	display: block;
	font-size:16px;
	text-align: center; 
	background-color: #cccccc; 
	border:1px solid  #dddddd;
	border-bottom:none;
}
.tabmenu>ul>li>a:hover {  /* <a> 요소에 마우스를 올릴 때 스타일 */ 
	background-color : #eeeeee;
}
.tabmenu>ul>li:first-child a {    /* 탭 타이틀 첫 번째 <a> 요소 */ 
	border-right:none;
}
.tabmenu>ul>li.active>a{    /* active 클래스가 할당된 <a> 요소 */ 
	background-color:#ffffff; 
}
.tabmenu>ul>li div {
  position: absolute;
  left: 0px;
  height: 0px;
  overflow: hidden;
}
.tabmenu>ul>li.active div {
  height: 210px;
  width: 570px;
  border: 1px solid #dddddd;
  z-index: 1;
}

.notice ul {                 /* 공지사항 콘텐츠 영역 스타일 */
	float: left;
	width: 550px;
	margin-top: 12px;
	margin-bottom: 12px;
}
.notice li {                 /* 공지사항 리스트 영역 스타일 */
	width: 100%;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	margin-left: 10px;
	margin-right: 10px;
}
.notice li:nth-child(2n) {   /* 공지사항 중 2배수 리스트 스타일 */
	background-color: #cccccc;
}
.notice li span {       /* <span>요소로 구성한 날짜 영역 스타일 */
	float: right;
}
.notice li:hover {  /* 공지사항 리스트에 마우스를 올릴 때 스타일 */
	font-weight: bold;
}

.gallery ul {
  display: flex;
  justify-content: flex-start;
}
.gallery li {       /* 갤러리 콘텐츠 영역 스타일 */
  float: left;
  width: 150px;
  height: 200px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  line-height: 25px;
}
.gallery img {       /* 갤러리 콘텐츠 이미지 영역 스타일 */
  width: 140px;
  height: 140px;
  padding: 5px;
}
.gallery li:hover {   /* 갤러리 콘텐츠에 마우스를 올릴 때 스타일 */
  opacity: 0.5;
}
.gallery span {
  font-size: 16px;
}

#layer {              /* 레이어 팝업창 기준 배경 스타일 */
  position: absolute;
  z-index: 1;
  display: none;
}
#layer.active {
  display: block;
}
.layer_up {           /* 레이어 팝업창 스타일 */
  width: 600px;
  height: 400px;
  position: fixed;
  left: 30%;
  top: 30%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.uptitle {
  margin-top: 30px;
  text-align: center;
  line-height: 16px;
  font-size: 20px;
  font-weight: bold;
}
.upbody {
  padding: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}
.btn {
  width: 80px;
  height: 20px;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  background: #cccccc;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* footer(tag) → .footer */
.footer {                  /* D영역: 하단 영역 */
	width: 1340px;          /* 하단 너비(브라우저100%) */
	height: 120px;          /* 하단 높이 */
  background-color: #dddddd;
}
.btlogo {                  /* 로고 영역 스타일 */
	float: left;
	width: 240px;            /* 로고 영역 너비 */
	height: 120px;           /* 로고 영역 높이 */
}
.btlogo img {
  float: left;
  width: 130px;
  margin-top: 30px;
  margin-left: 25px;
}
.btwrap {                   /* 하단메뉴+Copyright */
	float: right;
	width: 1100px;            /* 1340px - 240px(로고영역너비)*/
	height: 100%;
  font-size: 16px;
  line-height: 60px;
}
.btmenu {
  float: right;
  width: 1100px;
  height: 50px;
  margin-top: 10px;
}
.btmenu li {          /* 하단메뉴 하위 목록  */
  display: inline;
}
.btmenu li:hover {    /* 하단메뉴에 마우스를 올릴 때 스타일 */
  opacity: 0.5;
}
.btmenu a {           /* 하단메뉴 내 a 태그 리스트 */
  display: inline;
}
.btmenu li::after {   /* 각 하위 목록 다음에 추가할 문자열 */
  content: " | ";
}
.btmenu li:last-child::after {  /* 마지막 하위 목록 다음 */
  content: "";
}
