@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
#wrap {
    width: 100%;
}
#header {
    width: 1340px;
    /* height: 100px;
    background-color: red; */
    margin: 0 auto;
    display: flex;
}
    .logo {
        width: 20%;
        height: 100px;
        background-color: red;
    }
    .nav {
        width: 80%;
        height: 100px;
        background: orange;
    }
#slider {
    width: 100%;
    height: 350px;
    background-color: yellow;
    position: relative;
}
    .link {
        width: 1340px;
        height: 100px;
        background-color: purple;

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }
#contents {
    width: 1340px;
    height: 450px;
    background-color: green;
    margin: 0 auto;
}
    .content1 {
        width: 100%;
        height: 150px;
        background-color: yellowgreen;
    }
    .content2 {
        width: 100%;
        /* height: 300px;
        background-color: greenyellow; */
        display: flex;
    }
        .content2-1 {
            width: 50%;
            height: 300px;
            background-color: seagreen;
        }
        .content2-2 {
            width: 50%;
            height: 300px;
            background-color: green;
        }
#footer {
    width: 1340px;
    /* height: 120px;
    background-color: blue; */
    margin: 0 auto;
    display: flex;
}
    .footer1 {
        width: 20%;
        height: 120px;
        background-color: aqua;
    }
    .footer2 {
        width: 60%;
        height: 120px;
        background-color: aquamarine;
    }
    .footer3 {
        width: 20%;
        height: 120px;
        background-color: mediumaquamarine;
    }
