/*차이점------------------------------------------*/

#slider {
    width: calc(100% - 600px);
    height: 100%;
    /* background-color: #a3a3a3; */
}
.sliderWrap {
    position: relative;
    height: 100%;
}
.sliderWrap > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}
.sliderWrap > div:first-child {
    display: block;
}

/*차이점------------------------------------------*/

.sliderWrap > div span {
    position: absolute;
    color: white;
    background-color: black;
    padding: 10px 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
