#slider {
    width: 100%;
    height: 300px;
    /* background-color: yellow; */
    overflow: hidden;
}

/*차이점------------------------------------------*/

.sliderWrap > div {
    position: relative;
}

/*차이점------------------------------------------*/

.sliderWrap > div img {
    vertical-align: top;
}
.sliderWrap > div span{
    position: absolute;
    color: white;
    background-color: black;
    padding: 10px 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
