/*차이점------------------------------------------*/

#slider {
    width: calc(100% - 600px);
    height: calc(100vh - 120px);
    /* background-color: #a3a3a3; */
    overflow: hidden;
}
.sliderWrap {
    width: 100%;
    height: 300vh;
    /* display: flex; */
}
.sliderWrap > div {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*차이점------------------------------------------*/

.sliderWrap > div span {
    position: absolute;
    color: white;
    background-color: black;
    padding: 10px 20px;
    top: calc(50% - 60px);
    left: 50%;
    transform: translate(-50%, -50%);
}
