@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
#wrap {
    width: 100%;
}
#main {
    width: 100%;
    /* height: 750px; 
    background-color: red; */
    display: flex;
}
    #header {
        width: 200px;
        /* height: 750px;
        background-color: red; */
    }
        .logo {
            width: 100%;
            height: 100px;
            background-color: red;
        }
        .nav {
            width: 100%;
            height: 650px;
            background-color: orange;
        }
    #contents {
        width: 400px;
        /* height: 750px;
        background-color: green; */
    }
        .notice {
            width: 100%;
            height: 300px;
            background-color: limegreen;
        }
        .gallery {
            width: 100%;
            height: 300px;
            background-color: yellowgreen;
        }
        .link {
            width: 100%;
            height: 150px;
            background-color: greenyellow;
        }
    #slider {
        width: calc(100% - 600px);
        height: 750px;
        background-color: yellow;
    }
#footer {
    width: 100%;
    /* height: 120px;
    background-color: blue; */
    display: flex;
}
    .footer1 {
        width: 20%;
        height: 120px;
        background-color: aqua;
    }
    .footer2 {
        width: 60%;
        height: 120px;
        background-color: aquamarine;
    }
    .footer3 {
        width: 20%;
        height: 120px;
        background-color: mediumaquamarine;
    }
