@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
#wrap {
    width: 100%;
}
#main {
    width: 100%;
    height: calc(100vh - 120px);
    /* background-color: red; */
    display: flex;
}
    #header {
        width: 200px;
        height: 100%;
        /* background-color: red; */
    }
        .logo {
            width: 100%;
            height: 10%;
            background-color: red;
        }
        .nav {
            width: 100%;
            height: 90%;
            background-color: orange;
        }
    #contents {
        width: 400px;
        height: 100%;
        /* background-color: green; */
    }
        .banner {
            width: 100%;
            height: 15%;
            background-color: lime;
        }
        .notice {
            width: 100%;
            height: 35%;
            background-color: limegreen;
        }
        .gallery {
            width: 100%;
            height: 35%;
            background-color: yellowgreen;
        }
        .link {
            width: 100%;
            height: 15%;
            background-color: greenyellow;
        }
    #slider {
        width: calc(100% - 600px);
        height: 100%;
        background-color: yellow;
    }
#footer {
    width: 100%;
    height: 120px;
    /* background-color: blue; */
    display: flex;
}
    .footer1 {
        width: 20%;
        height: 120px;
        background-color: aqua;
    }
    .footer2 {
        width: 60%;
        /* width: calc(100% - 400px); */
        /* height: 120px;
        background-color: aquamarine; */
    }
        .footer2-1{
            width: 100%;
            height: 60px;
            background-color: aquamarine;
        }
        .footer2-2{
            width: 100%;
            height: 60px;
            background-color: turquoise;
        }
    .footer3 {
        width: 20%;
        /* width: 200px; */
        height: 120px;
        background-color: mediumaquamarine;
    }
