@charset "utf-8";
/* Layout + Essential CSS */

* {
  margin: 0 auto;
  padding: 0;
  list-style: none; /* 불릿 제거 */
}
html, body {
  min-width: 1200px;
  background-color: #ffffff;
}
a {
  display: block;
  text-decoration: none; /* 밑줄 제거 */
  color: inherit;
}

/* header */
.header {
  width: 100%;      
  height: 100px;    
  background: #dddddd;
}
.top {
  width: 1200px;    
}
.logo {
  float: left;
  width: 250px;
  height: 100px;
}
.menu {
  float: right;
  z-index: 1;
  width: 800px;
  height: 100px;
}
.navi {
  float: right;
  margin-top: 30px;
  margin-right: 10px;
}
.navi > li {
  float: left;
}
.navi > li > a {
  width: 180px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #333333;
  color: #ffffff;
}
.submenu {
  position: absolute;
  z-index: 1;
  width: 180px;
  height: 160px;
  display: none;
  background: #ffffff;
}
.submenu > li > a {
  width: 180px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #ffffff;
  color: #333333;
}

/* 이미지 슬라이드 */
.imgslide {
  position: relative;
  overflow: hidden;
  width: 1200px;
  height: 300px;
}
.imgslide a {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
}
.imgslide img {
  width: 1200px;
  height: 300px;
  display: block;
}
.imgtext {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  width: 500px; height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgba(40,40,40,0.5);
  color: #ffffff;
}

/* 콘텐츠 */
.contents {
  position: relative;
  width: 1200px;
  height: 200px;
}

/* 탭메뉴 */
.tabmenu {
  float: left;
  width: 395px;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tabmenu > li {
  float: left;
  width: 100px;
  line-height: 30px;
}
.tabmenu > li > a {
  display: block;
  text-align: center;
  background-color: #cccccc;
  border: 1px solid #dddddd;
  border-bottom: none;
}
.tabmenu > li:first-child a {
  border-right: none;
}
.tabmenu > li div {
  position: absolute;
  left: 0;
  height: 0;
  overflow: hidden;
}
.tabmenu > li.active div {
  z-index: 1;
  width: 393px;
  height: 148px;
  border: 1px solid #dddddd;
}

/* 공지 */
.notice ul {
  float: left;
  width: 393px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.notice li {
  height: 32px;
  line-height: 32px;
  margin-left: 10px;
  margin-right: 10px;
}
.notice li:nth-child(2n) {
  background-color: #cccccc;
}
.notice li span {
  float: right;
}

/* 갤러리 */
.gallery li {
  float: left;
  margin-top: 15px;
  margin-left: 5px;
}
.gallery img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

/* 바로가기 */
.shortcut {
  float: right;
  width: 400px;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.shortcut a { position: relative; }
.shortcut img {
  width: 400px;
  height: 180px;
}
.shortcut .sctext {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  width: 300px; height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(40,40,40,0.3);
  color: #ffffff;
}

.banner {
  float: right;
  width: 395px;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
}
.banner a { position: relative; }
.banner img {
  width: 395px;
  height: 180px;
}
.banner .sctext {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  width: 300px; height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(40,40,40,0.3);
  color: #ffffff;
}

/* 레이어 팝업 */
#layer {
  position: absolute;
  z-index: 1;
  display: none;
}
#layer.active {
  display: block;
}
.layer_up {
  position: fixed;
  left: 30%; top: 20%;
  width: 500px;
  height: 400px;
  background-color: #ffffff;
}
.uptitle {
  margin-top: 30px;
  text-align: center;
}
.upbody {
  padding: 30px;
  text-align: center;
}
.btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 80px;
  height: 20px;
  display: block;
  text-align: center;
  background: #cccccc;
}

/* footer */
.footer {
  width: 100%;
  height: 100px;
  background-color: #30a3f3;
}
.bottom {
  width: 1200px;
  height: 100%;
}
.btlogo {
  float: left;
  width: 250px;
  height: 100px;
}
.btlogo img {
  float: left;
  width: 200px;
  margin-top: 10px;
  margin-left: 25px;
}
.site {
  float: right;
  width: 600px;
  height: 100px;
}
.btmenu {
  width: 600px;
  height: 50px;
  text-align: center;
}
.btmenu li {
  display: inline-block;
  width: 100px;
  margin-top: 10px;
}
.copy {
  width: 600px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
