@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
#wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#aside {
    width: 200px;
    /* height: 850px;
    background-color: red; */
}
    .logo {
        width: 100%;
        height: 100px;
        background-color: red;
    }
    .nav {
        width: 100%;
        height: 750px;
        background-color: orange;
    }
#main {
    width: calc(100% - 200px);
    /* height: 850px;
    background-color: yellow; */
}
    #slider {
        width: 100%;
        height: 400px;
        background-color: yellow;
    }
    #banner {
        width: 100%;
        height: 200px;
        background-color: lime;
    }
    #contents{
        width: 100%;
        /* height: 250px;
        background-color: green; */
        display: flex;
    }
        .content1 {
            width: 50%;
            height: 250px;
            background-color: seagreen;            
        }
        .content2 {
            width: 50%;
            height: 250px;
            background-color: green;            
        }
#footer {
    width: 100%;
    /* height: 100px;
    background-color: blue; */
    display: flex;
}
    .footer1 {
        width: 20%;
        height: 100px;
        background-color: aqua;
    }
    .footer2 {
        width: 60%;
        /* height: 100px;
        background-color: aquamarine; */
    }
        .footer2-1{
            width: 100%;
            height: 50px;
            background-color: aquamarine;
        }
        .footer2-2{
            width: 100%;
            height: 50px;
            background-color: turquoise;
        }
    .footer3 {
        width: 20%;
        height: 100px;
        background-color: mediumaquamarine;
    }