@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
}

#header {
    width: 100%;
    /* height: 100px;
    background-color: red; */
    display: flex;
}

#header .logo {
    width: 20%;
    height: 100px;
    background-color: red;
}

#header .nav {
    width: 80%;
    height: 100px;
    background-color: orange;
}

#contents {
    width: 100%;
    /* height: 200px;
    background-color: green; */
    display: flex;
}

#contents .content1 {
    width: 33.3333%;
    height: 200px;
    background-color: yellowgreen;
}

#contents .content2 {
    width: 33.3333%;
    height: 200px;
    background-color: greenyellow;
}

#contents .content3 {
    width: 33.3333%;
    height: 200px;
    background-color: green;
}

#footer {
    width: 100%;
    /* height: 100px;
    background-color: blue; */
    display: flex;
}

#footer .footer1 {
    width: 20%;
    height: 100px;
    background-color: aqua;
}

#footer .footer2 {
    width: 80%;
    height: 100px;
    background-color: aquamarine;
}

#footer .footer3 {
    width: 20%;
    height: 100px;
    background-color: lightblue;
}

/*M-2*/

.nav > ul {
    display: flex;
    justify-content: right;
    margin-top: 30px;
}

.nav > ul > li {
    position: relative;
}

.nav > ul > li > a {
    display: inline-block;
    padding: 10px 50px;
    background-color: coral;
}

.nav > ul > li > a:hover {
    background-color: lightcoral;
}

.nav > ul > li > ul {
    position: absolute;
    left: 0;
    top: 38px;
    width: 100%;
    text-align: center;
    display: none;
}

.nav > ul > li > ul > li > a {
    display: inline-block;
    width: 100%;
    background-color: coral;
    padding: 10px;
    box-sizing: border-box;
}

.nav > ul > li > ul > li > a:hover {
    background-color: lightcoral;
}

/*S-3*/

#slider {
    width: 100%;
    height: 300px;
    background-color: yellow;

    overflow: hidden;
}

.sliderWrap .slider {
    position: relative;
}
.sliderWrap .slider img {
    vertical-align: top;
}
.sliderWrap .slider span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    padding: 10px 20px;
}

/*T-1*/

.tab-menu {
    padding: 20px;
}




