#wrap {
    width: 1200px;
    margin: 0 auto;
    /*popup*/
    position: relative;
}
#contents .content3 {
    width: 33.3333%;
    height: 200px;
    background-color: #bcbcbc;
    /*popup*/
    display: flex;
    align-items: center;
    justify-content: center;
}
/*---------------------------------------------------*/

/*popup*/
.popup-btn {
    background-color: red;
    padding: 10px;
    display: inline-block;
}
.popup-view {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: orange;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    z-index: 1000;
    display: none;
}
/*popup-btn과 같음*/
.popup-close {
    background-color: yellow;
    padding: 10px;
    display: inline-block;
}

/*---------------------------------------------------*/

.popup-bg {
    position: fixed;
    background: rgba(0,0,0,0.5); /* 반투명 검정 */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    z-index: 500;
}