@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
#wrap {
    width: 1200px;
    margin: 0 auto;
}
#header {
    width: 1200px;
    /* height: 100px;
    background-color: red; */
    display: flex;
}
    .logo {
        width: 20%;
        height: 100px;
        background-color: red;
    }
    .nav {
        width: 80%;
        height: 100px;
        background-color: orange;
    }
#slider {
    width: 1200px;
    height: 300px;
    background-color: yellow;
}
#contents {
    width: 1200px;
    /* height: 200px;
    background-color: green; */
    display: flex;
}
    .content1 {
        width: 33.3333%;
        height: 200px;
        background-color: yellowgreen;
    }
    .content2 {
        width: 33.3333%;
        height: 200px;
        background-color: greenyellow;
    }
    .content3 {
        width: 33.3333%;
        height: 200px;
        background-color: green;
    }
#footer {
    width: 1200px;
    /* height: 100px;
    background-color: blue; */
    display: flex;
}
    .footer1 {
        width: 20%;
        height: 100px;
        background-color: aqua;
    }
    .footer2 {
        width: 80%;
        height: 100px;
        background-color: aquamarine;
    }
    .footer3 {
        width: 20%;
        height: 100px;
        background-color: mediumaquamarine;
    }
