/*차이점------------------------------------------*/

#slider {
    width: calc(100% - 600px);
    height: 100%;
    /* background-color: #a3a3a3; */
    overflow: hidden;
}
.sliderWrap {
    width: 400%;
    height: 100%;
    display: flex;
}
.sliderWrap > div {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*차이점------------------------------------------*/

.sliderWrap > div span {
    position: absolute;
    color: white;
    background-color: black;
    padding: 10px 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
