@charset "utf-8";
/* CSS Document */

*{
	margin:0 auto;
	padding:0;
	list-style:none;
	font-family:"맑은 고딕";
	color:#333333;
}
html, body{
	min-width:1200px;
	background-color:#ffffff;
	font-size:20px;
}
a{
	text-decoration:none;
	display:block;
}

/* header → .header */
.header{           /* A영역:상단 영역 */
    width:100%;   /* 상단 너비(브라우저100%) */
	height:100px; /* 상단 높이 */
    background:#dddddd;
}

/* wrap → .top */
.top{            /* 헤더와 푸터 영역 콘텐츠 묶어줌 */
	width:1200px; /* 헤더와 푸터 영역 콘텐츠 너비 */
}
.logo{            /* 로고 영역 스타일 */
	float:left;
	width:250px;  /* 로고 영역 너비 */
	height:100px; /* 로고 영역 높이 */
}
.logo img{
	float:left;
	width:200px;
	height:40px;
	margin-top:30px;
	margin-left:25px;
}
#menu_bg{         /* 메뉴 슬라이드 배경 */
	width:1200px; 
	height:160px; 
	position:absolute;
	display:none;
	z-index:2;
	top:100px;
	background-color:#bbbbbb;
}
.menu{            /* 메뉴 영역 스타일 */
	float:right;
	width:800px;
	height:100px;  
    z-index:1;
}
.navi{            /* 전체 메뉴 스타일 */
	float:right;
	margin-top:50px;
	margin-right:0px;
}
.navi>li{         
	float:left;
}
.navi>li>a{       
	width:200px;
	height:50px;
	line-height:50px; 
	font-size:18px;
	font-weight:bold;
	text-align:center;
	background-color:#333333;
	color:#ffffff; 
}
.navi>li>a:hover{ 
	background-color:#006478; 
}
.submenu{         
	width:200px;
	height:160px;
	position:absolute;
	display:none;
	z-index:3;
	background-color:#bbbbbb;
}
.submenu>li>a{    
	width:200px;
	height:40px;
	line-height:40px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	background-color:#bbbbbb;
	color:#333333;
}
.submenu>li>a:hover{ 
	background-color:#006478;
}

.imgslide{        
	width:1200px; 
	height:300px; 
   	position:relative;
   	overflow:hidden;
}
.imgslide>a{
    display:block; 
    position:absolute;
}
.imgslide span{
    width:300px;
    text-align:center;
    color:#ffffff;
    font-weight:bold;
    left:40%;
    top:40%;
    position:absolute;
    background-color:rgba(100,100,100,0.7);
}

.contents{        
	width:1200px; 
	height:200px; 
}
.notice{
	float:left;
	width:400px;
	height:200px;
}
.tab{
	float:left;
	width:400px;
}
/* h4 → .tab-title */
.notice .tab-title{
	float:left;
	height:50px;
	line-height:50px;
}
.notice>div{
	float:left;
	width:380px;
	border-bottom-color:#fa9600;
	border-bottom-style:solid;
	margin-left:10px;
}
.notice ul{ 
	float:left;	
	width:400px;
}
.notice li{  
	height:32px;
	line-height:32px;
	font-size:15px;
	margin-left:10px;
	margin-right:10px;
}
.notice li span{  
	float:right;
}
.notice li:nth-child(2n){ 
	background-color:#fa9600;
}
.notice li:hover{  
	font-weight:bold;
}

.gallery{
	float:left;
	width:400px;
	height:200px;
}
/* h4 → .tab-title */
.gallery .tab-title{
	float:left;
	height:50px;
	line-height:50px;
}
.gallery>div{
	width:380px;
	border-bottom-color:#fa9600;
	border-bottom-style:solid;
	margin-left:10px;
}
.gallery ul li{
    float:left;
	margin-left:10px;
    margin-top:10px;
}
.gallery img{
    width:100px;
    height:100px;    
	padding:10px;
}
.gallery li:hover{
    opacity:0.5;
}

.shortcut{
	float:right;
	width:400px;
	height:200px;
}
.shortcut img{
	float:right;
	width:400px;
	height:180px;
	margin-left:10px;
	margin-top:10px;
}
/* .sctext 지원 추가: 코드1 네이밍과 호환 */
.shortcut .tab-title,
.shortcut .sctext{
	float:right;
    width:300px;
	height:30px;
    position:absolute;
    text-align:center;
	color:#ffffff;
	font-weight: bold;
    line-height:30px;
    background-color:rgba(40,40,40,0.5);
	margin-top:80px;
	margin-left:50px;
}
.shortcut .tab-title:hover,
.shortcut .sctext:hover{
	opacity:0.5;
}

#modal{   
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:rgba(0,0,0, 0.6); 
    z-index:1; 
    display:none; 
}
#modal.active{
    display:block;
}
.modal_up{   
	width:400px;
	height:300px;
	position:fixed;
	left:30%; 
	top:20%; 
	background-color:#ffffff;
}
.uptitle{
	margin-top:30px;
	text-align:center; 
	line-height:16px; 
	font-size:20px; 
	font-weight:bold;
}
.upbody{
	padding:30px;
	text-align:center;
	font-size:16px;
	line-height:30px; 
}
.btn{
	width:80px;
	height:20px;
	display:block;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	background:#cccccc;
	position:absolute; 
	right:10px;
	bottom:10px;
}

/* footer → .footer */
.footer{           
	width:100%;   
	height:100px; 
	background-color:#bbbbbb;
}
/* 추가: footer 내부 래퍼 정렬 */
.bottom{
	width:1200px;
	height:100%;
}
.copy{
	float:left;
	width:550px;  
	height:100px;  
    text-align:center;
    font-size:20px;
    line-height:100px;
}
.site{            
	float:right;
	width:400px;  
	height:100px; 
}	
.sns{
	float:right;
	width:400px;  
	height:50px;  
}
.sns ul{ 
	float:right;       
	margin-right:20px;
	margin-top:10px;
}
.sns li{        
    display:inline-block;
}
.sns img{      
	height:40px;
	width:40px;
	padding:10px;
}
.sns img:hover{
	opacity:0.5;
}
.familysite{
	width:400px;  	
	height:50px;  
}
.familysite select{
	float:right;
	height:20px;
	width:200px;
	margin-right:20px;
	margin-top:15px;
	font-size:14px;
}
